.productCard
{
    background-color: blueviolet;
    border: 2px solid black;
    width: 200px;    
}
.flex-row
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
    column-gap: 10px;
}